<ng-content></ng-content>

<div class="main_component div-flex">
  <mat-card class="div-flex">
    <mat-card-header>
      <mat-card-title>Contacts</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p><mat-icon>email</mat-icon>sketchfield.tattoo@gmail.com</p>
      <p><mat-icon>map</mat-icon>Budapest, Rooklet Ink</p>
      <p>
        <mat-icon>euro</mat-icon><a href="patreon.com/pintermark">Patreon</a>
      </p>
      <p>
        <mat-icon>group</mat-icon
        ><a href="https://www.instagram.com/_pintermark_/?hl=en">Instagram</a>
      </p>
      <p>
        <mat-icon>group</mat-icon>
        <a href="https://www.instagram.com/_skeletoons_/">Skeletoons</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>

